.app {
  display: flex;
  align-items: center;
  justify-content: center;

}

.urunler {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.main_title {
  text-align: center;
}

.sepet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}